<!DOCTYPE html>
<html lang="ja">
     <head>
        <meta charset="UTF-8">
        <title>ぽんきち神社</title>
        <!--ビューポート-->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="./shrine-style.css">
        <!--  ファビコン  -->
        <link rel="shortcut icon" href="img/pon_favi.PNG">
        <!--  フォント  -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800&family=Yusei+Magic&display=swap" rel="stylesheet">
        <!--   TwitterOGP     -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="" />
        <meta name="twitter:url" content="https://ponkichi.info/" />
        <meta name="twitter:title" content="ぽんきちわーるど" />
        <meta name="twitter:description" content="ミステリアスなキャラクター「ぽんきち」、あなたもきっと好きになる。ぽんきち公式サイト" />
        <meta name="twitter:image" content="https://ponkichi.info/img/site-img.PNG" />
        <!--  OGP  -->
        <meta property="og:url" content="ponkichi.info" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ぽんきちわーるど" />
        <meta property="og:description" content="ミステリアスなキャラクター「ぽんきち」、あなたもきっと好きになる。ぽんきち公式サイト" />
        <meta property="og:site_name" content="ぽんきちわーるど" />
        <meta property="og:image" content="https://ponkichi.info/img/site-img.PNG" />
    </head>
    <body>
        <div class="wrapper">
            <div class="head">
               <img src="img02/shrine-logo.png" alt="">
            </div>
            あなたは<%= @counter %>人目の訪問者です<br>
            <% if @number < 200 %>
                <img src="img02/poncoin01.PNG" alt="">
            <% elsif @number < 1000 %>
                <img src="img02/poncoin02.PNG" alt="">
            <% elsif @number < 1500 %>
                <img src="img02/pika.gif" alt="">
            <% end %>
            <p>お賽銭</p>
            <br>
            <h1><%= @number %>円</h1>
            <form action="/plus" method="POST">
                <input type="submit" value="ここをクリック">
            </form>
            <div class= uranai-content>
                <form action="/shrine?number=0" method="get">
                    <p>
                        <input type="text" name="name" placeholder="なまえ" required>
                        <select name="star">
                            <option value="noselect">あなたの星座</option>
                            <option value="牡羊座">牡羊座</option>
                            <option value="牡牛座">牡牛座</option>
                            <option value="双子座">双子座</option>
                            <option value="蟹座">蟹座</option>
                            <option value="獅子座">獅子座</option>
                            <option value="乙女座">乙女座</option>
                            <option value="天秤座">天秤座</option>
                            <option value="蠍座">蠍座</option>
                            <option value="射手座">射手座</option>
                            <option value="山羊座">山羊座</option>
                            <option value="水瓶座">水瓶座</option>
                            <option value="魚座">魚座</option>
                        </select>
                       <input type="submit" value="結果を見る">
                   </p>
                </form>
                <% if @uranai['ok'] == 1 %>
                    <p>
                        <%= @uranai["data"]["content"]%>
                        ラッキーアイテムは
                        <%= @uranai["data"]["item"] %>
                    </p>
                <% elsif @uranai['ok'] == 2 %>
                    <script>
                        window.alert("<%= @uranai['message'] %>");
                    </script>
                <% end %>
            </div>
        </div>
        <div class="footer-container py-3 mx-auto" style="max-width: 960px;">
           <%= erb :'_footer' %> 
        </div>
    </body>
</html>